@charset "utf-8";

@import "normalize";

@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

$card-grey: #BABABA;
$soft-white: #FAFAFA;

body {
  box-sizing: default;
  font-size: 1em;
  width: 100%;
  #nav,
  #footer {
    background: $soft-white;
    padding: 1em;
    font-family: 'Oswald', 'Knockout', 'Arial', sans-serif;
    text-transform: uppercase;
  }
  #nav {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    width: calc(100% - 2em);
    border-bottom: darken($soft-white, 5%);
    &.fixed {
      position: fixed;
    }
    .logo img {
      width: 140px;
    }
    .links ul {
      li {
        display: inline;
        line-height: 40px;
        &:not(:last-of-type) {
          margin-right: 2em;
        }
        a {
          text-decoration: none;
          color: #292929;
        }
      }
    }
  }
  #hero {
    width: 100%;
    height: 600px;
    background: url('http://placekitten.com/2400/1600');
    transition: background 1s ease-in-out;
  }
  #copy {
    padding: 20px;
    margin: 0 auto;
    max-width: 640px;
    h3,
    h4 {
      font-family: 'Oswald', 'Knockout', 'Arial', sans-serif;
      text-transform: uppercase;
    }
    h3 {
      &:not(:first-of-type) {
        margin-top: 3em;
      }
    }
    p {
      font-family: 'Roboto', 'Montserrat', 'Gotham', 'Arial', sans-serif;
      line-height: 1.5em;
      font-size: 18px;
      font-weight: 300;
      color: #292929;
    }
    .quad {
      img {
        max-width: 50%;
        display: inline-block;
      }
    }
  }
  #footer {
    border-top: darken($soft-white, 5%);
    .row {
      display: flex;
      justify-content: space-between;
      max-width: 640px;
      margin: 0 auto;
      .column {
        text-align: left;
        max-width: 30%;
        a {
          color: #292929;
          text-decoration: none;
        }
      }
    }
  }
  ul li {
    list-style: none;
  }
}