<div id="copy">
  <h3 id="what">What</h3>
  <p>Platform is a Creative Commons-licensed card game in which players gather voters by collecting a series of positions on topical issues. Show photos and stuff.</p>
  <h3 id="how">How</h3>
  <div class="quad">
    <%= image_tag 'Mallory.png' %><%= image_tag 'Cherisse.png' %><%= image_tag 'Aidan.png' %><%= image_tag 'John.png' %>
  </div>
  <p>Mallory, Cherisse, Aidan, and John hacked for two and a half days. They played card games, designed, illustrated, programmed and play-tested</p>
  <h3 id="why">Why</h3>
  <p>Platform engages a millenial audience (such as the readers of BuzzFeed Politics, Vox, and Fusion) in localized, offline community building and encourages political participation. In doing so, we’re bridging the gap between news consumers and game players and paving the way for more informative gaming.</p>
  <h3 id="rules">The Rules</h3>
  <p>The rules are simple: the player who controls the most voters wins! In the event of a tie, Iowa Caucus rules: flip a coin.</p>
  <p>The game ends when either all voters are controlled by players or a player reveals the last voter card and every other player plays one last turn.</p>
  <h4>Issues</h4>
  <p>There are 13 issue types, each with two or three different <b>stances</b>. Each issue type is identified with a unique icon. Stances are coded with one of three faces: support, indifference, or opposition</p>
  <h4>Voters</h4>
  <p>tk</p>
</div>