<div id="footer">
  <div class="row">
    <div class="column">
      <p>Created by Team Mayfair at SNDMakes Chicago</p>
      <img src="https://licensebuttons.net/l/by-nc/3.0/88x31.png">
    </div>
    <div class="column">
      <ul>
        <li>Mallory Busch</li>
        <li>Cherisse Datu</li>
        <li>Aidan Feay</li>
        <li>John Osborn</li>
      </ul>
    </div>
  </div>
</div>