<div id="footer">
  <div class="row">
    <div class="column">
      <p>Created by Team Mayfair at SNDMakes Chicago</p>
      <img src="https://licensebuttons.net/l/by-nc/3.0/88x31.png">
    </div>
    <div class="column">
      <ul>
        <li><a href="https://twitter.com/yeamal">Mallory Busch</a></li>
        <li><a href="https://twitter.com/cherissd">Cherisse Datu</a></li>
        <li><a href="https://twitter.com/aidanfeay">Aidan Feay</a></li>
        <li><a href="https://twitter.com/bayreporta">John Osborn</a></li>
      </ul>
    </div>
  </div>
</div>