<div id="nav">
  <div class="logo">
    <%= image_tag 'platform_logo.svg' %>
  </div>
  <div class="links">
    <ul>
      <li><a href="#what">What</a></li>
      <li><a href="#how">How</a></li>
      <li><a href="#why">Why</a></li>
      <li><a href="#rules">Rules</a></li>
    </ul>
  </div>
</div>